<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <header th:replace="fragments :: header"></header>
    <br>
    <h4>Form: Create An Event</h4>
    <form method="post" action="/events/create">
        <div class="form-group">
            <label for="eventName">Name: </label>
            <input type="text" name="eventName" id="eventName" class="form-control">
        </div>
        <div class="form-group">
            <label for="eventDescription">Description: </label>
            <input type="text" name="eventDescription" id="eventDesc" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <input type="submit" value="Create Event" class="btn btn-success">
        </div>
    </form>
</body>
</html>