<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <header th:replace="fragments :: header"></header>
    <br>
    <h4 th:replace="fragments :: subTitle"></h4>
    <p th:unless="${events} and ${events.size()}">Sorry, there are no events at this time.</p>
    <ul>
        <li th:each="event : ${events}">
            <span th:text="${event.id}"></span> -
            <strong th:text="${event.name}"></strong>:&nbsp;
            <span th:text="${event.eventDetails.description}"></span>|
            <span th:text="${event.eventDetails.contactEmail}"></span>
        </li>
    </ul>

    <h4>Events Table</h4>
    <table class="table table-striped">
        <thead>
            <th>Event ID</th>
            <th>Event Name</th>
            <th>Event Category</th>
            <th>Event Description</th>
            <th>Event Location</th>
            <th>Registration Required?</th>
            <th>Number of Attendees</th>
            <th>Contact Email</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.id}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.eventCategory.name}"></td>
                <td th:text="${event.eventDetails.description}"></td>
                <td th:text="${event.eventDetails.location}"></td>
                <td>
                    <th:block th:if="${event.eventDetails.shouldRegister}">Yes</th:block>
                    <th:block th:unless="${event.eventDetails.shouldRegister}">No</th:block>
                </td>
                <td th:text="${event.eventDetails.numberOfAttendees}"></td>
                <td th:text="${event.eventDetails.contactEmail}"></td>
                <td><a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <footer>
        <p>Event Registration Office Address:<span th:replace="fragments :: address"></span></p>
    </footer>
</body>
</html>