<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <header th:replace="fragments :: header"></header>
    <br>
    <h4 th:replace="fragments :: subTitle"></h4>
    <p th:unless="${events} and ${events.size()}">Sorry, there are no events at this time.</p>
    <ul th:if="${events} and ${events.size()}">
        <li th:each="event : ${events}">
            <span th:text="${event.id}"></span> -
            <strong th:text="${event.name}"></strong>:&nbsp;
            <span th:text="${event.eventDetails.description}"></span>&nbsp;|&nbsp;
            <a th:href="@{/events/detail?eventId={id}(id=${event.id})}">View Details</a>
        </li>
    </ul>

    <th:block th:if="${events} and ${events.size()}">
    <h4>Events Table</h4>
    <table class="table table-striped w-auto">
        <thead>
            <th>Event ID</th>
            <th>Event Name</th>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.id}"></td>
                <td><a th:href="@{/events/detail?eventId={id}(id=${event.id})}" th:text="${event.name}"></a></td>
            </tr>
        </tbody>
    </table>
    </th:block>
    <br>
    <br>
    <hr>
    <footer>
        <p>Event Registration Office Address:<span th:replace="fragments :: address"></span></p>
    </footer>
</body>
</html>