<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <header th:replace="fragments :: header"></header>
    <br>
    <h4 th:replace="fragments :: subTitle"></h4>
    <br>
    <table class="table table-striped w-auto">
        <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
        </tr>
        </thead>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td><a th:href="'/events?categoryId='+${category.id}" th:text="${category.name}"></a></td>
        </tr>
    </table>

</body>
</html>